{% load static %}

<div class="row">
  <div class="col-xs-12 section-container-spacer">
    <h1>料理レシピ</h1>
    <p>今まで登録してきたレシピを確認して見よう！ <br>新しいメニューの追加もできる！</p>
  </div>

  <div class="col-xs-12 col-md-4 section-container-spacer">
    <img class="img-responsive" alt="" src="{% static 'top/images/img-12.jpg' %}">
    <h2>Consectetur</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <a href="./contact.html" class="btn btn-primary" title=""> Get in touch</a>
  </div>

  <div class="col-xs-12 col-md-4 section-container-spacer">
    <img class="img-responsive" alt="" src="{% static 'top/images/img-13.jpg' %}">
    <h2>Adipiscing</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <a href="./contact.html" class="btn btn-primary" title=""> Get in touch</a>
  </div>

  <div class="col-xs-12 col-md-4 section-container-spacer">
    <img class="img-responsive" alt="" src="{% static 'top/images/img-14.jpg' %}">
    <h2>Dolor</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <a href="./contact.html" class="btn btn-primary" title=""> Get in touch</a>
  </div>

</div>